In [2]:
import pandas as pd
df = pd.read_excel('../Work/Nov/5903 17.xlsx')
df['Person compiling the report'].count()

24

In [3]:
df['Gender'] = df['Gender'].str.split('/').str[0]
df['Type of service provided'] = df['Type of service provided'].str.split('/').str[0]

In [4]:
df.pivot_table(index='Internal referral',
                   columns=['Age','Gender'],
                   values='Date',
                   aggfunc='count',
                   fill_value=0)

Empty DataFrame
Columns: []
Index: []

In [5]:
df.pivot_table(index='Internal referral',
                   columns=['Disability'],
                   values='Date',
                   aggfunc='count',
                   fill_value=0)

Empty DataFrame
Columns: []
Index: []

In [6]:
df.groupby('Person compiling the report')['Type of service provided'].count()

Person compiling the report
Babin Alina    12
Rotari Ela     12
Name: Type of service provided, dtype: int64

In [7]:
a = df.pivot_table(index='Type of service provided',
                   columns=['Age','Gender'],
                   values='Date',
                   aggfunc='count',
                   margins=True, margins_name='Total',
                   fill_value=0)

In [8]:
b = df.pivot_table(index='Type of service provided',
                   columns=['Disability'],
                   values='Date',
                   aggfunc='count',
                   margins=True, margins_name='Total',
                   fill_value=0)

In [9]:
try:
    if 'Physical' or 'Mental' in b.columns:
        b = b.loc[:,['Physical','Mental']].sum(axis=1)
except KeyError:
    if 'Physical' in b.columns:
        b = b.loc[:,['Physical']].sum(axis=1)
    elif 'Mental' in b.columns:
        b = b.loc[:,['Mental']].sum(axis=1)
    else:
        b = 0

In [10]:
a['PwD'] = b
title = list(a.columns)
title[-2],title[-1] = title[-1],title[-2]
a = a[title]

In [11]:
a.to_excel('../wip/pt.xlsx')